*,
*::before,
*::after {
	box-sizing: border-box;
	backface-visibility: hidden;
	vertical-align: inherit;
	color: inherit;
}

:root {
	--c1: #fdfcfd;
	--c2: #faf9fb;
	--c3: #f2eff3;
	--c4: #eae7ec;
	--c5: #e3dfe6;
	--c6: #dbd8e0;
	--c7: #d0cdd7;
	--c8: #bcbac7;
	--c9: #8e8c99;
	--c10: #84828e;
	--c11: #65636d;
	--c12: #211f26;

	--blue-1: #fbfdff;
	--blue-2: #f4faff;
	--blue-3: #e6f4fe;
	--blue-4: #d5efff;
	--blue-5: #c2e5ff;
	--blue-6: #acd8fc;
	--blue-7: #8ec8f6;
	--blue-8: #5eb1ef;
	--blue-9: #0090ff;
	--blue-10: #0588f0;
	--blue-11: #0d74ce;
	--blue-12: #113264;

	--accent: var(--blue-9);
	--control: var(--c4);
	--control--hover: var(--c6);
	--control--focus: var(--blue-6);
	--transition-duration: 0.2s;

	/*	will be set in JS to "background var(--transition-duration)"*/
	--bg-transition: none;

	--root-transition: var(--bg-transition), color var(--transition-duration);
	/*	transition: var(--root-transition) will be added here by js*/

	--focus: var(--accent);
	--padding: calc(1.5em * 0.295) calc(1.5em * 0.412);
	--focused: solid 2px var(--focus);
	--serif: 'Georgia', serif;
	--sans: 'Trebuchet MS', sans-serif;

	font-variant-ligatures: normal;
	text-rendering: optimizeLegibility;
	font-family: var(--serif);
	line-height: 1.5;

	display: flex;
	flex-direction: column;
	min-height: 100%;

	color: var(--c12);
	background-color: var(--c1);
}

svg {
	color: var(--c12);
}

:root.dark {
	--c1: #121113;
	--c2: #1a191b;
	--c3: #232225;
	--c4: #2b292d;
	--c5: #323035;
	--c6: #3c393f;
	--c7: #49474e;
	--c8: #625f69;
	--c9: #6f6d78;
	--c10: #7c7a85;
	--c11: #b5b2bc;
	--c12: #eeeef0;
}

body {
	margin: 0;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 2;
}

code,
pre {
	tab-size: 4;
	font-family: monospace;
}

a {
	color: inherit;
	text-decoration: underline 0.5px currentColor;
}

a:focus {
	outline: none;
}

a:focus-visible {
	outline: 0.125em solid var(--focus);
	outline-offset: 0.125em;
}

a:hover {
	text-decoration-thickness: 1.5px;
}

a:not([href]) {
	text-decoration: none;
	cursor: default;
}

img {
	display: block;
	height: auto;
}

img,
canvas,
iframe,
video,
svg,
select,
textarea {
	max-width: 100%;
}

[hidden] {
	display: none !important;
}

input {
	background-color: var(--control);
	border: none;
	padding: var(--padding);
	color: inherit;
	font: inherit;
	font-size: 1.2em;
	line-height: inherit;
	min-width: 16em;
	background-repeat: no-repeat;
	transition: var(--bg-transition);
}

input:hover {
	background-color: var(--control--hover);
}

input:focus {
	outline: none;
	background-color: var(--control--focus);
}

button {
	background-color: var(--control);
	border: none;
	padding: var(--padding);
	color: inherit;
	font: inherit;
	line-height: inherit;
	cursor: pointer;
	transition: var(--bg-transition);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1.3em;
}

button:not(:disabled)hover {
	background-color: var(--control--hover);
}

button:focus {
	outline: none;
}

button:not(:disabled):focus-visible {
	background-color: var(--control--focus);
}

button:disabled {
	color: var(--c8);
	cursor: not-allowed;
}

button[aria-busy='true'] {
	color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle stroke='%23211f26' stroke-width='2' stroke-linecap='round' stroke-dasharray='30,100' cx='10' cy='10' r='8' fill='none'%3E%3CanimateTransform attributeName='transform' type='rotate' dur='1s' repeatCount='indefinite' from='0 10 10' to='360 10 10' /%3E%3C/circle%3E%3C/svg%3E");
}

:root.dark button[aria-busy='true'] {
	color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle stroke='%23fdfcfd' stroke-width='2' stroke-linecap='round' stroke-dasharray='30,100' cx='10' cy='10' r='8' fill='none'%3E%3CanimateTransform attributeName='transform' type='rotate' dur='1s' repeatCount='indefinite' from='0 10 10' to='360 10 10' /%3E%3C/circle%3E%3C/svg%3E%0A");
}

select {
	appearance: none;
	background-color: var(--control);
	border: none;
	padding: var(--padding);
	color: inherit;
	font: inherit;
	line-height: inherit;
	cursor: pointer;
	transition: var(--bg-transition);
}

select:hover {
	background-color: var(--control--hover);
}

select:focus {
	outline: none;
}

select:focus-visible {
	outline: none;
	background-color: var(--control--focus);
}

.focus-ring--arrow {
	position: relative;
}

.focus-ring--arrow::after {
	display: inline-block;
	content: '';
	position: absolute;
	top: 50%;
	right: 0.5em;
	transform: translateY(-50%);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='%23121113' viewBox='0 0 15 15'%3E%3Cpath fill-rule='evenodd' d='M3.135 6.158a.5.5 0 0 1 .707-.023L7.5 9.565l3.658-3.43a.5.5 0 0 1 .684.73l-4 3.75a.5.5 0 0 1-.684 0l-4-3.75a.5.5 0 0 1-.023-.707Z' clip-rule='evenodd'/%3E%3C/svg%3E");
	width: 1em;
	height: 1em;
	pointer-events: none;
}

:root.dark .focus-ring--arrow::after {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='%23fdfcfd' viewBox='0 0 15 15'%3E%3Cpath fill-rule='evenodd' d='M3.135 6.158a.5.5 0 0 1 .707-.023L7.5 9.565l3.658-3.43a.5.5 0 0 1 .684.73l-4 3.75a.5.5 0 0 1-.684 0l-4-3.75a.5.5 0 0 1-.023-.707Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

textarea {
	resize: vertical;
}

[aria-busy='true'] {
	cursor: progress;
}

[disabled],
[aria-disabled='true'] {
	cursor: default;
}

[aria-controls] {
	cursor: pointer;
}

.ih {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.container {
	width: 100%;
	max-width: 50rem;
	padding: 0 1rem;
	margin: 1em auto 0;
}

.container--wide {
	max-width: 70rem;
}

.container--absurd {
	max-width: unset;
	margin: 1em 0 0;
	padding: 0;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flush-top {
	margin-top: 0;
}

.push-top {
	margin-top: 2em;
}

.small {
	font-size: 0.8em;
}

.squircle {
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E .base %7B width: 100%25; height: 100%25; position: relative; --sqsize: 16px; --color: hsl(0, 0%25, 90%25); %7D%0A/* %23alt:target %7B --color: %23acd8fc; %7D%0A*/ .corner %7B position: absolute; width: var(--sqsize); height: var(--sqsize); transform-origin: center; fill: var(--color); %7D .bg %7B position: absolute; inset: 0; background-color: var(--color); clip-path: polygon(var(--sqsize) 0, calc(100%25 - var(--sqsize)) 0, 100%25 var(--sqsize), 100%25 calc(100%25 - var(--sqsize)), calc(100%25 - var(--sqsize)) 100%25, var(--sqsize) 100%25, 0 calc(100%25 - var(--sqsize)), 0 var(--sqsize)); %7D %3C/style%3E%3Csymbol id='corner' viewBox='0 0 279 279'%3E%3Cpath d='M279 279V0H259l-3.077.01h-7.692l-1.539.01h-1.538l-1.539.01L239 .04l-4.615.02-1.539.01h-1.538l-1.539.01-3.077.03-1.538.01-3.077.02-1.539.02-3.076.03-3.077.04-3.077.05-1.539.02-3.077.06-1.538.03-1.539.03-1.538.04-1.539.03L199 .53l-1.538.04-1.539.04-1.538.05-1.539.05-1.538.05-1.539.05-1.538.06-1.539.06-1.538.06-1.539.06-1.538.07-1.539.07-1.538.08-1.538.07-1.539.08-1.538.09-1.539.09-1.538.09-1.539.1-1.538.1-1.539.1-1.538.12-1.539.11-1.538.12-1.539.12-1.538.13-1.538.14-1.539.13-1.538.15-1.539.15-1.538.16-1.539.16-1.538.16-1.539.18-1.538.18-1.539.19-1.538.19-1.539.2-1.538.21-1.538.21-1.539.23-1.538.23-1.539.23-1.538.25-1.539.25-1.538.27-1.539.27-1.538.28-1.539.29-1.538.3-1.539.31-1.538.32-1.538.33-1.539.34-1.538.35-1.539.37-1.538.37-1.539.39-1.538.4-1.539.41-1.538.42-1.539.44-1.538.45-1.539.47-1.538.47-1.538.5-1.539.51-1.538.52-1.539.55-1.538.55-1.539.58-1.538.6-1.539.61-1.538.63-1.539.65-1.538.67-1.539.7-1.538.71-1.538.74-1.539.76-1.538.79-1.539.8-1.538.84-1.539.86-1.538.89-1.539.92-1.538.96-1.539.98-1.538 1.01-1.539 1.05L59 32.91l-1.538 1.12-1.539 1.16-1.538 1.21-1.539 1.24-1.538 1.29-1.539 1.35-1.538 1.38-1.539 1.45-1.538 1.5-.548.54-1.498 1.54-1.443 1.54-1.39 1.54-1.34 1.54-1.292 1.54-1.246 1.53-1.203 1.54-1.163 1.54L32.908 59l-1.086 1.54-1.05 1.54-1.015 1.53-.982 1.54-.95 1.54-.92 1.54-.891 1.54-.863 1.54-.837 1.54-.809 1.53-.785 1.54-.762 1.54-.736 1.54-.716 1.54-.692 1.54-.672 1.53-.651 1.54-.633 1.54-.612 1.54-.594 1.54-.577 1.54-.558 1.54-.542 1.53-.526 1.54-.511 1.54-.493 1.54-.48 1.54-.465 1.54-.451 1.53-.437 1.54-.424 1.54-.411 1.54-.399 1.54-.387 1.54-.374 1.54-.363 1.53-.351 1.54-.341 1.54-.331 1.54-.32 1.54-.309 1.54-.3 1.53-.29 1.54-.281 1.54-.273 1.54-.263 1.54-.255 1.54-.246 1.54-.237 1.53-.231 1.54-.223 1.54-.215 1.54-.208 1.54-.2 1.54-.194 1.53L4 145.15l-.182 1.54-.173 1.54-.168 1.54-.162 1.54-.155 1.54-.151 1.53-.144 1.54-.139 1.54-.135 1.54-.128 1.54-.125 1.54-.118 1.53-.114 1.54-.111 1.54-.104 1.54-.102 1.54-.097 1.54-.092 1.54-.089 1.53-.086 1.54-.082 1.54-.077 1.54-.074 1.54-.072 1.54-.068 1.53-.064 1.54-.062 1.54-.058 1.54-.056 1.54-.052 1.54-.051 1.54-.047 1.53-.047 1.54-.043 1.54-.04 1.54-.038 1.54-.037 1.54-.034 1.53-.032 1.54-.031 1.54-.055 3.08-.025 1.54-.046 3.07-.04 3.08-.034 3.08-.015 1.54-.028 3.07-.012 1.54-.022 3.08-.009 1.54-.008 1.54-.009 1.53L.038 239l-.013 4.61-.003 1.54-.005 1.54-.002 1.54-.006 3.08-.003 3.07v1.54L.003 259v1.54l-.001 1.54v3.07L0 266.69V279h279Z' /%3E%3C/symbol%3E%3CforeignObject class='base' id='alt' width='100%25' height='100%25'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' class='bg'%3E%3C/div%3E%3Csvg class='corner' style='top: 0; left: 0'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='top: 0; right: 0; transform: rotate(90deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='bottom: 0; right: 0; transform: rotate(180deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='bottom: 0; left: 0; transform: rotate(270deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3C/foreignObject%3E%3C/svg%3E%0A");
	mask-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E .base %7B width: 100%25; height: 100%25; position: relative; --sqsize: 16px; --color: hsl(0, 0%25, 90%25); %7D%0A/* %23alt:target %7B --color: %23acd8fc; %7D%0A*/ .corner %7B position: absolute; width: var(--sqsize); height: var(--sqsize); transform-origin: center; fill: var(--color); %7D .bg %7B position: absolute; inset: 0; background-color: var(--color); clip-path: polygon(var(--sqsize) 0, calc(100%25 - var(--sqsize)) 0, 100%25 var(--sqsize), 100%25 calc(100%25 - var(--sqsize)), calc(100%25 - var(--sqsize)) 100%25, var(--sqsize) 100%25, 0 calc(100%25 - var(--sqsize)), 0 var(--sqsize)); %7D %3C/style%3E%3Csymbol id='corner' viewBox='0 0 279 279'%3E%3Cpath d='M279 279V0H259l-3.077.01h-7.692l-1.539.01h-1.538l-1.539.01L239 .04l-4.615.02-1.539.01h-1.538l-1.539.01-3.077.03-1.538.01-3.077.02-1.539.02-3.076.03-3.077.04-3.077.05-1.539.02-3.077.06-1.538.03-1.539.03-1.538.04-1.539.03L199 .53l-1.538.04-1.539.04-1.538.05-1.539.05-1.538.05-1.539.05-1.538.06-1.539.06-1.538.06-1.539.06-1.538.07-1.539.07-1.538.08-1.538.07-1.539.08-1.538.09-1.539.09-1.538.09-1.539.1-1.538.1-1.539.1-1.538.12-1.539.11-1.538.12-1.539.12-1.538.13-1.538.14-1.539.13-1.538.15-1.539.15-1.538.16-1.539.16-1.538.16-1.539.18-1.538.18-1.539.19-1.538.19-1.539.2-1.538.21-1.538.21-1.539.23-1.538.23-1.539.23-1.538.25-1.539.25-1.538.27-1.539.27-1.538.28-1.539.29-1.538.3-1.539.31-1.538.32-1.538.33-1.539.34-1.538.35-1.539.37-1.538.37-1.539.39-1.538.4-1.539.41-1.538.42-1.539.44-1.538.45-1.539.47-1.538.47-1.538.5-1.539.51-1.538.52-1.539.55-1.538.55-1.539.58-1.538.6-1.539.61-1.538.63-1.539.65-1.538.67-1.539.7-1.538.71-1.538.74-1.539.76-1.538.79-1.539.8-1.538.84-1.539.86-1.538.89-1.539.92-1.538.96-1.539.98-1.538 1.01-1.539 1.05L59 32.91l-1.538 1.12-1.539 1.16-1.538 1.21-1.539 1.24-1.538 1.29-1.539 1.35-1.538 1.38-1.539 1.45-1.538 1.5-.548.54-1.498 1.54-1.443 1.54-1.39 1.54-1.34 1.54-1.292 1.54-1.246 1.53-1.203 1.54-1.163 1.54L32.908 59l-1.086 1.54-1.05 1.54-1.015 1.53-.982 1.54-.95 1.54-.92 1.54-.891 1.54-.863 1.54-.837 1.54-.809 1.53-.785 1.54-.762 1.54-.736 1.54-.716 1.54-.692 1.54-.672 1.53-.651 1.54-.633 1.54-.612 1.54-.594 1.54-.577 1.54-.558 1.54-.542 1.53-.526 1.54-.511 1.54-.493 1.54-.48 1.54-.465 1.54-.451 1.53-.437 1.54-.424 1.54-.411 1.54-.399 1.54-.387 1.54-.374 1.54-.363 1.53-.351 1.54-.341 1.54-.331 1.54-.32 1.54-.309 1.54-.3 1.53-.29 1.54-.281 1.54-.273 1.54-.263 1.54-.255 1.54-.246 1.54-.237 1.53-.231 1.54-.223 1.54-.215 1.54-.208 1.54-.2 1.54-.194 1.53L4 145.15l-.182 1.54-.173 1.54-.168 1.54-.162 1.54-.155 1.54-.151 1.53-.144 1.54-.139 1.54-.135 1.54-.128 1.54-.125 1.54-.118 1.53-.114 1.54-.111 1.54-.104 1.54-.102 1.54-.097 1.54-.092 1.54-.089 1.53-.086 1.54-.082 1.54-.077 1.54-.074 1.54-.072 1.54-.068 1.53-.064 1.54-.062 1.54-.058 1.54-.056 1.54-.052 1.54-.051 1.54-.047 1.53-.047 1.54-.043 1.54-.04 1.54-.038 1.54-.037 1.54-.034 1.53-.032 1.54-.031 1.54-.055 3.08-.025 1.54-.046 3.07-.04 3.08-.034 3.08-.015 1.54-.028 3.07-.012 1.54-.022 3.08-.009 1.54-.008 1.54-.009 1.53L.038 239l-.013 4.61-.003 1.54-.005 1.54-.002 1.54-.006 3.08-.003 3.07v1.54L.003 259v1.54l-.001 1.54v3.07L0 266.69V279h279Z' /%3E%3C/symbol%3E%3CforeignObject class='base' id='alt' width='100%25' height='100%25'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' class='bg'%3E%3C/div%3E%3Csvg class='corner' style='top: 0; left: 0'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='top: 0; right: 0; transform: rotate(90deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='bottom: 0; right: 0; transform: rotate(180deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='bottom: 0; left: 0; transform: rotate(270deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3C/foreignObject%3E%3C/svg%3E%0A");
	-webkit-mask-mode: alpha;
	mask-mode: alpha;
}

mark {
	background-color: #0ff5;
}
