.main-header {
	padding-top: 0.5em;
}

.main-header__container {
	display: flex;
	align-items: center;
	gap: 1em;
}

.round-button {
	max-width: 2.5em;
	background-color: var(--control);
	background-repeat: no-repeat;
	background-position: center;
	/*	background-size: 1.5em;*/
	aspect-ratio: 1;
	border-radius: 100%;
	color: transparent;
	overflow: hidden;
	align-self: center;
	transition: var(--bg-transition);

	display: flex;
	align-items: center;
	justify-content: center;
}

.round-button:focus-visible {
	outline: 0.125em solid var(--focus);
	outline-offset: 0.125em;
}

.round-button--ghost {
	background-color: transparent;
	transition: var(--bg-transition);
}

.round-button--ghost:hover {
	background-color: var(--control);
}

.round-button--ghost:focus-visible {
	background-color: var(--control--focus);
	outline: 0.125em solid var(--focus);
	outline-offset: 0.125em;
}

.back-button {
	max-width: 1.7em;
}

.back-button svg {
	width: 1.3em;
	height: 1.3em;
}

.theme-button {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none' viewBox='0 0 15 15'%3E%3Cpath fill='%23211f26' fill-rule='evenodd' d='M2.9.5a.4.4 0 0 0-.8 0v.6h-.6a.4.4 0 1 0 0 .8h.6v.6a.4.4 0 1 0 .8 0v-.6h.6a.4.4 0 0 0 0-.8h-.6V.5Zm3 3a.4.4 0 1 0-.8 0v.6h-.6a.4.4 0 1 0 0 .8h.6v.6a.4.4 0 1 0 .8 0v-.6h.6a.4.4 0 0 0 0-.8h-.6v-.6Zm-4 3a.4.4 0 1 0-.8 0v.6H.5a.4.4 0 1 0 0 .8h.6v.6a.4.4 0 0 0 .8 0v-.6h.6a.4.4 0 0 0 0-.8h-.6v-.6ZM8.544.982l-.298-.04c-.213-.024-.34.224-.217.4A6.57 6.57 0 0 1 9.203 5.1a6.602 6.602 0 0 1-6.243 6.59c-.214.012-.333.264-.183.417a6.8 6.8 0 0 0 .21.206l.072.066.26.226.188.148.121.09.187.131.176.115c.12.076.244.149.37.217l.264.135.26.12.303.122.244.086a6.568 6.568 0 0 0 1.103.26l.317.04.267.02a6.6 6.6 0 0 0 6.943-7.328l-.037-.277a6.557 6.557 0 0 0-.384-1.415l-.113-.268-.077-.166-.074-.148a6.602 6.602 0 0 0-.546-.883l-.153-.2-.199-.24-.163-.18-.12-.124-.16-.158-.223-.2-.32-.26-.245-.177-.292-.19-.321-.186-.328-.165-.113-.052-.24-.101-.276-.104-.252-.082-.325-.09-.265-.06-.292-.053Zm1.86 4.318a7.578 7.578 0 0 0-.572-2.894 5.601 5.601 0 1 1-4.748 10.146 7.61 7.61 0 0 0 3.66-2.51.749.749 0 0 0 1.355-.442.75.75 0 0 0-.584-.732c.062-.116.122-.235.178-.355A1.25 1.25 0 1 0 10.35 6.2c.034-.295.052-.595.052-.9Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

:root.dark .theme-button {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none' viewBox='0 0 15 15'%3E%3Cpath fill='%23fdfcfd' fill-rule='evenodd' d='M7.5 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2a.5.5 0 0 1 .5-.5ZM2.197 2.197a.5.5 0 0 1 .707 0L4.318 3.61a.5.5 0 0 1-.707.707L2.197 2.904a.5.5 0 0 1 0-.707ZM.5 7a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2Zm1.697 5.803a.5.5 0 0 1 0-.707l1.414-1.414a.5.5 0 1 1 .707.707l-1.414 1.414a.5.5 0 0 1-.707 0ZM12.5 7a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2Zm-1.818-2.682a.5.5 0 0 1 0-.707l1.414-1.414a.5.5 0 1 1 .707.707L11.39 4.318a.5.5 0 0 1-.707 0ZM8 12.5a.5.5 0 0 0-1 0v2a.5.5 0 0 0 1 0v-2Zm2.682-1.818a.5.5 0 0 1 .707 0l1.414 1.414a.5.5 0 1 1-.707.707l-1.414-1.414a.5.5 0 0 1 0-.707ZM5.5 7.5a2 2 0 1 1 4 0 2 2 0 0 1-4 0Zm2-3a3 3 0 1 0 0 6 3 3 0 0 0 0-6Z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.main-nav {
	margin-left: auto;
}

.article-body h1 {
	/*	color: var(--accent);*/
	margin-bottom: 0.2em;
	line-height: 1.2;
}

.article-body p {
	font-family: 'Georgia', serif;
}

.article-body p:first-of-type::first-letter {
	font-size: 3em;
	line-height: 0.7em;
	float: left;
	margin: 0.15em 0.15em 0 0;
	/*	color: var(--accent);*/
}

.fm {
	font-size: 0.9em;
	margin-bottom: 2em;
}

.logo {
	width: 100%;
	max-width: 11em;
	display: flex;
	align-items: flex-start;
}

.main-nav {
	display: flex;
	gap: 0.5em;
}

.main-footer {
	margin: 5em 0 2em;
	font-size: 0.8em;
}

.main-footer__container {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.main-footer__copy {
	margin-right: auto;
}

@media (max-width: 640px) {
	.logo {
		max-width: 8em;
	}

	.main-header {
		font-size: 0.8em;
	}

	.article-body h1,
	.article-body h2,
	.article-body h3,
	.page-title {
		font-size: 1.5em;
	}

	.main-footer {
		font-size: 0.7em;
	}
}

.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5em;
}

.form__field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form__label {
	font-size: 0.9em;
}

.form__input {
	margin-top: 0.2em;
}

.form__button {
	margin-top: 0.5em;
}

.form__annotated {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 0.5em 3em;
}

.form__description {
	margin-top: 0.2em;
	font-size: 0.85em;
}

.form__info {
	font-size: 0.8em;
}

.sign-up {
	display: flex;
	flex-wrap: wrap-reverse;
	gap: 0.5em 3em;
	align-items: baseline;
}

.pitch {
	max-width: 23em;
}

.price {
	font-size: 2em;
	margin: 0;
}

.articles {
	display: grid;
	gap: 2em;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	margin-top: 1em;
}

.article {
	text-decoration: none;
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.5em;
}

.article__image {
	transition: transform 0.4s ease;
}

.article:not(.article--premium):hover .article__image {
	transform: scale(1.05);
}

.article--premium {
	position: relative;
}

.article--premium .article__cover {
	filter: grayscale();
}

.article--premium::before {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #0009;
	color: white;

	-webkit-mask-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E .base %7B width: 100%25; height: 100%25; position: relative; --sqsize: 16px; --color: hsl(0, 0%25, 90%25); %7D%0A/* %23alt:target %7B --color: %23acd8fc; %7D%0A*/ .corner %7B position: absolute; width: var(--sqsize); height: var(--sqsize); transform-origin: center; fill: var(--color); %7D .bg %7B position: absolute; inset: 0; background-color: var(--color); clip-path: polygon(var(--sqsize) 0, calc(100%25 - var(--sqsize)) 0, 100%25 var(--sqsize), 100%25 calc(100%25 - var(--sqsize)), calc(100%25 - var(--sqsize)) 100%25, var(--sqsize) 100%25, 0 calc(100%25 - var(--sqsize)), 0 var(--sqsize)); %7D %3C/style%3E%3Csymbol id='corner' viewBox='0 0 279 279'%3E%3Cpath d='M279 279V0H259l-3.077.01h-7.692l-1.539.01h-1.538l-1.539.01L239 .04l-4.615.02-1.539.01h-1.538l-1.539.01-3.077.03-1.538.01-3.077.02-1.539.02-3.076.03-3.077.04-3.077.05-1.539.02-3.077.06-1.538.03-1.539.03-1.538.04-1.539.03L199 .53l-1.538.04-1.539.04-1.538.05-1.539.05-1.538.05-1.539.05-1.538.06-1.539.06-1.538.06-1.539.06-1.538.07-1.539.07-1.538.08-1.538.07-1.539.08-1.538.09-1.539.09-1.538.09-1.539.1-1.538.1-1.539.1-1.538.12-1.539.11-1.538.12-1.539.12-1.538.13-1.538.14-1.539.13-1.538.15-1.539.15-1.538.16-1.539.16-1.538.16-1.539.18-1.538.18-1.539.19-1.538.19-1.539.2-1.538.21-1.538.21-1.539.23-1.538.23-1.539.23-1.538.25-1.539.25-1.538.27-1.539.27-1.538.28-1.539.29-1.538.3-1.539.31-1.538.32-1.538.33-1.539.34-1.538.35-1.539.37-1.538.37-1.539.39-1.538.4-1.539.41-1.538.42-1.539.44-1.538.45-1.539.47-1.538.47-1.538.5-1.539.51-1.538.52-1.539.55-1.538.55-1.539.58-1.538.6-1.539.61-1.538.63-1.539.65-1.538.67-1.539.7-1.538.71-1.538.74-1.539.76-1.538.79-1.539.8-1.538.84-1.539.86-1.538.89-1.539.92-1.538.96-1.539.98-1.538 1.01-1.539 1.05L59 32.91l-1.538 1.12-1.539 1.16-1.538 1.21-1.539 1.24-1.538 1.29-1.539 1.35-1.538 1.38-1.539 1.45-1.538 1.5-.548.54-1.498 1.54-1.443 1.54-1.39 1.54-1.34 1.54-1.292 1.54-1.246 1.53-1.203 1.54-1.163 1.54L32.908 59l-1.086 1.54-1.05 1.54-1.015 1.53-.982 1.54-.95 1.54-.92 1.54-.891 1.54-.863 1.54-.837 1.54-.809 1.53-.785 1.54-.762 1.54-.736 1.54-.716 1.54-.692 1.54-.672 1.53-.651 1.54-.633 1.54-.612 1.54-.594 1.54-.577 1.54-.558 1.54-.542 1.53-.526 1.54-.511 1.54-.493 1.54-.48 1.54-.465 1.54-.451 1.53-.437 1.54-.424 1.54-.411 1.54-.399 1.54-.387 1.54-.374 1.54-.363 1.53-.351 1.54-.341 1.54-.331 1.54-.32 1.54-.309 1.54-.3 1.53-.29 1.54-.281 1.54-.273 1.54-.263 1.54-.255 1.54-.246 1.54-.237 1.53-.231 1.54-.223 1.54-.215 1.54-.208 1.54-.2 1.54-.194 1.53L4 145.15l-.182 1.54-.173 1.54-.168 1.54-.162 1.54-.155 1.54-.151 1.53-.144 1.54-.139 1.54-.135 1.54-.128 1.54-.125 1.54-.118 1.53-.114 1.54-.111 1.54-.104 1.54-.102 1.54-.097 1.54-.092 1.54-.089 1.53-.086 1.54-.082 1.54-.077 1.54-.074 1.54-.072 1.54-.068 1.53-.064 1.54-.062 1.54-.058 1.54-.056 1.54-.052 1.54-.051 1.54-.047 1.53-.047 1.54-.043 1.54-.04 1.54-.038 1.54-.037 1.54-.034 1.53-.032 1.54-.031 1.54-.055 3.08-.025 1.54-.046 3.07-.04 3.08-.034 3.08-.015 1.54-.028 3.07-.012 1.54-.022 3.08-.009 1.54-.008 1.54-.009 1.53L.038 239l-.013 4.61-.003 1.54-.005 1.54-.002 1.54-.006 3.08-.003 3.07v1.54L.003 259v1.54l-.001 1.54v3.07L0 266.69V279h279Z' /%3E%3C/symbol%3E%3CforeignObject class='base' id='alt' width='100%25' height='100%25'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' class='bg'%3E%3C/div%3E%3Csvg class='corner' style='top: 0; left: 0'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='top: 0; right: 0; transform: rotate(90deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='bottom: 0; right: 0; transform: rotate(180deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='bottom: 0; left: 0; transform: rotate(270deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3C/foreignObject%3E%3C/svg%3E%0A");
	mask-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle%3E .base %7B width: 100%25; height: 100%25; position: relative; --sqsize: 16px; --color: hsl(0, 0%25, 90%25); %7D%0A/* %23alt:target %7B --color: %23acd8fc; %7D%0A*/ .corner %7B position: absolute; width: var(--sqsize); height: var(--sqsize); transform-origin: center; fill: var(--color); %7D .bg %7B position: absolute; inset: 0; background-color: var(--color); clip-path: polygon(var(--sqsize) 0, calc(100%25 - var(--sqsize)) 0, 100%25 var(--sqsize), 100%25 calc(100%25 - var(--sqsize)), calc(100%25 - var(--sqsize)) 100%25, var(--sqsize) 100%25, 0 calc(100%25 - var(--sqsize)), 0 var(--sqsize)); %7D %3C/style%3E%3Csymbol id='corner' viewBox='0 0 279 279'%3E%3Cpath d='M279 279V0H259l-3.077.01h-7.692l-1.539.01h-1.538l-1.539.01L239 .04l-4.615.02-1.539.01h-1.538l-1.539.01-3.077.03-1.538.01-3.077.02-1.539.02-3.076.03-3.077.04-3.077.05-1.539.02-3.077.06-1.538.03-1.539.03-1.538.04-1.539.03L199 .53l-1.538.04-1.539.04-1.538.05-1.539.05-1.538.05-1.539.05-1.538.06-1.539.06-1.538.06-1.539.06-1.538.07-1.539.07-1.538.08-1.538.07-1.539.08-1.538.09-1.539.09-1.538.09-1.539.1-1.538.1-1.539.1-1.538.12-1.539.11-1.538.12-1.539.12-1.538.13-1.538.14-1.539.13-1.538.15-1.539.15-1.538.16-1.539.16-1.538.16-1.539.18-1.538.18-1.539.19-1.538.19-1.539.2-1.538.21-1.538.21-1.539.23-1.538.23-1.539.23-1.538.25-1.539.25-1.538.27-1.539.27-1.538.28-1.539.29-1.538.3-1.539.31-1.538.32-1.538.33-1.539.34-1.538.35-1.539.37-1.538.37-1.539.39-1.538.4-1.539.41-1.538.42-1.539.44-1.538.45-1.539.47-1.538.47-1.538.5-1.539.51-1.538.52-1.539.55-1.538.55-1.539.58-1.538.6-1.539.61-1.538.63-1.539.65-1.538.67-1.539.7-1.538.71-1.538.74-1.539.76-1.538.79-1.539.8-1.538.84-1.539.86-1.538.89-1.539.92-1.538.96-1.539.98-1.538 1.01-1.539 1.05L59 32.91l-1.538 1.12-1.539 1.16-1.538 1.21-1.539 1.24-1.538 1.29-1.539 1.35-1.538 1.38-1.539 1.45-1.538 1.5-.548.54-1.498 1.54-1.443 1.54-1.39 1.54-1.34 1.54-1.292 1.54-1.246 1.53-1.203 1.54-1.163 1.54L32.908 59l-1.086 1.54-1.05 1.54-1.015 1.53-.982 1.54-.95 1.54-.92 1.54-.891 1.54-.863 1.54-.837 1.54-.809 1.53-.785 1.54-.762 1.54-.736 1.54-.716 1.54-.692 1.54-.672 1.53-.651 1.54-.633 1.54-.612 1.54-.594 1.54-.577 1.54-.558 1.54-.542 1.53-.526 1.54-.511 1.54-.493 1.54-.48 1.54-.465 1.54-.451 1.53-.437 1.54-.424 1.54-.411 1.54-.399 1.54-.387 1.54-.374 1.54-.363 1.53-.351 1.54-.341 1.54-.331 1.54-.32 1.54-.309 1.54-.3 1.53-.29 1.54-.281 1.54-.273 1.54-.263 1.54-.255 1.54-.246 1.54-.237 1.53-.231 1.54-.223 1.54-.215 1.54-.208 1.54-.2 1.54-.194 1.53L4 145.15l-.182 1.54-.173 1.54-.168 1.54-.162 1.54-.155 1.54-.151 1.53-.144 1.54-.139 1.54-.135 1.54-.128 1.54-.125 1.54-.118 1.53-.114 1.54-.111 1.54-.104 1.54-.102 1.54-.097 1.54-.092 1.54-.089 1.53-.086 1.54-.082 1.54-.077 1.54-.074 1.54-.072 1.54-.068 1.53-.064 1.54-.062 1.54-.058 1.54-.056 1.54-.052 1.54-.051 1.54-.047 1.53-.047 1.54-.043 1.54-.04 1.54-.038 1.54-.037 1.54-.034 1.53-.032 1.54-.031 1.54-.055 3.08-.025 1.54-.046 3.07-.04 3.08-.034 3.08-.015 1.54-.028 3.07-.012 1.54-.022 3.08-.009 1.54-.008 1.54-.009 1.53L.038 239l-.013 4.61-.003 1.54-.005 1.54-.002 1.54-.006 3.08-.003 3.07v1.54L.003 259v1.54l-.001 1.54v3.07L0 266.69V279h279Z' /%3E%3C/symbol%3E%3CforeignObject class='base' id='alt' width='100%25' height='100%25'%3E%3Cdiv xmlns='http://www.w3.org/1999/xhtml' class='bg'%3E%3C/div%3E%3Csvg class='corner' style='top: 0; left: 0'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='top: 0; right: 0; transform: rotate(90deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='bottom: 0; right: 0; transform: rotate(180deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3Csvg class='corner' style='bottom: 0; left: 0; transform: rotate(270deg)'%3E%3Cuse href='%23corner'%3E%3C/use%3E%3C/svg%3E%3C/foreignObject%3E%3C/svg%3E%0A");
	-webkit-mask-mode: alpha;
	mask-mode: alpha;

	content: 'Get membership';

	aspect-ratio: 16 / 10;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;

	opacity: 0;

	transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.article--premium:hover::before,
.article--premium:focus::before {
	opacity: 1;
}

.article__heading {
	font-size: 1.1em;
	margin: 0;
}

.article__blurb {
	margin: 0;
}

.link-with-icon {
	display: flex;
	align-items: center;
	gap: 0.3em;
	line-height: 1;
}
