.main-header {
	padding-top: 0.5em;
}

.main-header__container {
	display: flex;
	align-items: center;
	gap: 1em;
}

.round-button {
	max-width: 2.5em;
	background-color: var(--control);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1.5em;
	aspect-ratio: 1;
	border-radius: 100%;
	color: transparent;
	overflow: hidden;
	align-self: center;
}

.round-button:focus-visible {
	outline: 2px solid var(--focus);
}

.round-button--ghost {
	background-color: transparent;
}

.round-button--ghost:hover,
.round-button--ghost:focus-visible {
	background-color: var(--control);
}

.back-button,
.back-button,
.back-button:focus-visible {
	max-width: 1.7em;
	background-size: 1.3em;
	background-image: url(/assets/images/back.svg);
}

:root.dark .back-button {
	background-image: url(/assets/images/back.svg#alt);
}

.theme-button,
.theme-button:focus-visible {
	background-image: url(/assets/images/moon.svg);
}

:root.dark .theme-button,
:root.dark .theme-button:focus-visible {
	background-image: url(/assets/images/sun.svg);
}

.main-nav {
	margin-left: auto;
}

.article-body h1 {
	/*	color: var(--accent);*/
	margin-bottom: 0.2em;
	line-height: 1.2;
}

.article-body p {
	font-family: 'Georgia', serif;
}

.article-body p:first-of-type::first-letter {
	font-size: 3em;
	line-height: 0.7em;
	float: left;
	margin: 0.15em 0.15em 0 0;
	/*	color: var(--accent);*/
}

.fm {
	font-size: 0.9em;
	margin-bottom: 2em;
}

.logo {
	width: 100%;
	max-width: 11em;
	display: flex;
	align-items: flex-start;
}

.main-nav {
	display: flex;
	gap: 0.5em;
}

.main-footer {
	margin: 5em 0 2em;
	font-size: 0.8em;
}

.main-footer__container {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.main-footer__copy {
	margin-right: auto;
}

@media (max-width: 640px) {
	.logo {
		max-width: 8em;
	}

	.main-header {
		font-size: 0.8em;
	}

	.article-body h1,
	.article-body h2,
	.article-body h3,
	.page-title {
		font-size: 1.5em;
	}

	.main-footer {
		font-size: 0.7em;
	}
}

.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5em;
}

.form__field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form__label {
	font-size: 0.9em;
}

.form__input {
	margin-top: 0.2em;
}

.form__button {
	margin-top: 0.5em;
}

.form__annotated {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 0.5em 3em;
}

.form__description {
	margin-top: 0.2em;
	font-size: 0.85em;
}

.form__info {
	font-size: 0.8em;
}

.sign-up {
	display: flex;
	flex-wrap: wrap-reverse;
	gap: 0.5em 3em;
	align-items: baseline;
}

.pitch {
	max-width: 23em;
}

.price {
	font-size: 2em;
	margin: 0;
}

.articles {
	display: grid;
	gap: 2em;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	margin-top: 1em;
}

.article {
	text-decoration: none;
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.5em;
}

.article__image {
	transition: transform 0.4s ease;
}

.article:not(.article--premium):hover .article__image {
	transform: scale(1.05);
}

.article--premium {
	position: relative;
}

.article--premium .article__cover {
	filter: grayscale();
}

.article--premium::before {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #0009;
	color: white;

	-webkit-mask-image: url(/assets/images/squircle.svg);
	mask-image: url(/assets/images/squircle.svg);
	-webkit-mask-attachment: url(/assets/images/squircle.svg);
	-webkit-mask-mode: alpha;
	mask-mode: alpha;

	content: 'Get membership';

	aspect-ratio: 16 / 10;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;

	opacity: 0;

	transition: opacity 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.article--premium:hover::before,
.article--premium:focus::before {
	opacity: 1;
}

.article__heading {
	font-size: 1.1em;
	margin: 0;
}

.article__blurb {
	margin: 0;
}

.link-with-icon {
	display: flex;
	align-items: center;
	gap: 0.3em;
	line-height: 1;
}
