{% extends "page.njk" %}
{% import "macros.njk" as macros %}

{% block head %}
	<title>Sign in • Fleece Mag</title>
{% endblock %}

{% block nav %}
	<nav class="main-nav"><a href="/articles">Articles</a> • <a>Membership</a></nav>
{% endblock %}

{% block main %}
	<main>
		<div class="container">
			<h1 class="ih">Membership</h1>
			<h2 class="push-top">Already have a membership?</h2>
			<form class="form" action="#">
				<div class="form__field">
					<label class="form__label" for="sign-in-email">Email</label>
					<div class="focus-ring">
						<input id="sign-in-email" class="form__input squircle" name="email" type="email" placeholder="laia@fleecemag.com" required />
					</div>
				</div>
				<div class="form__field">
					<label class="form__label" for="sign-in-password">Password</label>
					<div class="form__annotated">
						<div class="focus-ring">
							<input id="sign-in-password" class="form__input squircle" name="password" type="password" placeholder="••••••••••" />
						</div>
						<span class="form__description">Leave it empty, and we'll send you an email with login link.</span>
					</div>
				</div>
				<div class="focus-ring">
					<button class="form__button squircle">Sign in</button>
				</div>
			</form>
			{{ macros.pitch("Want one?") }}
		</div>
	</main>
{% endblock %}

