<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preload" href="/assets/images/logo.svg" as="image" type="image/svg+xml" />
		<link rel="preload" href="/assets/images/squircle.svg" as="image" type="image/svg+xml" />
		<link rel="stylesheet" href="/assets/styles/normilio.css" />
		<link rel="stylesheet" href="/assets/styles/style.css" />
		<link rel="icon" type="image/webp" href="/assets/images/favicon.webp" />
		{% block head %}{% endblock %}
	</head>
	<body>
		<header class="main-header">
			<div class="container {{ "container--wide" if wide }} main-header__container">
				{% if linkback %}
					<a class="round-button round-button--ghost back-button" href="{{ linkback }}" title="Back">Back</a>
				{% endif %}
				<a class="logo icon" href="/">
					<img class="icon__light" src="/assets/images/logo.svg" width="1177" height="263" alt="Fleecemag" />
					<img class="icon__dark" src="/assets/images/logo.svg#alt" width="1177" height="263" alt="Fleecemag" />
				</a>
				{% block nav %}{% endblock %}
			</div>
		</header>
		{% block main %}{% endblock %}
		<footer class="main-footer">
			<div class="container container--wide main-footer__container">
				<span class="main-footer__copy">&copy; Fleece Mag, {{ year }}</span>
				<a href="#">Privacy policy</a> • <a href="#">Disclosures</a> •
				<button class="round-button theme-button" data-toggle-dark-theme>Dark theme</button>
			</div>
		</footer>
		<div class="ih" aria-hidden="true">
			<img alt="" src="/assets/images/sun.svg" />
			<img alt="" src="/assets/images/moon.svg" />
			<img alt="" src="/assets/images/squircle.svg" />
			<img alt="" src="/assets/images/squircle.svg#alt" />
			<img alt="" src="/assets/images/logo.svg" />
			<img alt="" src="/assets/images/logo.svg#alt" />
			<img alt="" src="/assets/images/back.svg" />
			<img alt="" src="/assets/images/back.svg#alt" />
			<img alt="" src="/assets/images/down.svg" />
			<img alt="" src="/assets/images/down.svg#alt" />
			<img alt="" src="/assets/images/article.svg" />
			<img alt="" src="/assets/images/article.svg#alt" />
		</div>
		<script src="/assets/app.js" type="module"></script>
	</body>
</html>
